.resume__btn {
  width: 170px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: $main-color;
  border-radius: 15px;
  color: $second-color;
  text-transform: uppercase;
  &:hover {
    color: $main-color;
    background-color: $background;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease;
  }
  &:active {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
