<footer class="footer">
    <nav class="footer__nav" id="contact">
        <ul class="footer__list">
          <li class="footer__list--item"><a class="footer__nav--link" href="mailto:tanferest@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i></a></li>
          <li class="footer__list--item"><a class="footer__nav--link" href="https://github.com/tanferest" target="_blank"><i class="fa-brands fa-github-alt"></i></a></li>
          <li class="footer__list--item"><a class="footer__nav--link" href="https://www.linkedin.com/in/tanferest/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </nav>
</footer>
