<header class="header">
    <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__item homeJs menuItem"><a class="nav__item--link" href="#homeJs">Home</a></li>
          <li class="nav__item about menuItem"><a class="nav__item--link" href="#about">Sobre mí</a></li>
          <li class="nav__item projects menuItem"><a class="nav__item--link" href="#projects">Proyectos</a></li>
          <li class="nav__item resumeJs menuItem"><a class="nav__item--link" href="#resumeJs">Cv</a></li>
        </ul>
      </nav>
</header>
