<header class="header">
    <nav class="header__nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__item--link" href="#home">Home</a></li>
          <li class="nav__item"><a class="nav__item--link" href="#home">Sobre mí</a></li>
          <li class="nav__item"><a class="nav__item--link" href="#home">Proyectos</a></li>
          <li class="nav__item"><a class="nav__item--link" href="#home">Cv</a></li>
          <li class="nav__item"><a class="nav__item--link" href="#home">Contacto</a></li>
        </ul>
      </nav>
</header>
