<main class="main">
  <section class="home" id="home">
    <div class="home-bg"></div>
    <div class="animated-bg">
      <div class="bubble bubble-1"></div>
      <div class="bubble bubble-2"></div>
      <div class="bubble bubble-3"></div>
      <div class="bubble bubble-4"></div>
    </div>
    <h1 class="main-title">Tania Fernández</h1>
    <h2 class="subtitle">Front-End Developer</h2>
  </section>
  <section class="section" id="about">
    <h2 class="section-title">Sobre mí</h2>
    <p class="main-text about-text">
      Partiendo desde el mundo de la fotografía y habiendo hecho mis pinitos en
      la animación tradicional, una mezcla entre curiosidad y muchas ganas de
      mejorar mi futuro laboral han ido acercándome al campo tecnológico, donde
      creo que mi capacidad de observación y la experiencia en el mundo de la
      imagen pueden aportar mucho, y en el que espero crecer cada día como
      programadora.
    </p>
  </section>
  <section class="section" id="projects">
    <h2 class="section-title">Proyectos</h2>
    <ul class="projects__list">
      <li class="projects__item">
        <div>
          <div class="img-cover"></div>
          <img
            class="projects__item--img"
            src="./assets/images/scr_openspaces.png"
            alt="Captura de pantalla del proyecto Open Spaces"
          />
        </div>
        <h3 class="projects__item--title">Open Spaces</h3>
        <p class="projects__item--text">
          Proyecto individual <i class="fa-solid fa-person text-icon"></i>
        </p>
        <p class="projects__item--text">
          Diseño responsive para tres versiones, realizado con HTML y CSS(SASS).
        </p>
        <nav class="item__nav">
          <a
            class="item__nav--link"
            class="projects__item--link"
            href="https://github.com/tanferest/open-spaces-adalab"
            target="_blank"
            ><i class="fa-solid fa-code link-icon"></i
          ></a>
          <a
            class="item__nav--link"
            class="projects__item--link"
            href="https://tanferest.github.io/open-spaces-adalab/"
            target="_blank"
            ><i class="fa-solid fa-link link-icon"></i
          ></a>
        </nav>
      </li>
      <li class="projects__item">
        <div>
          <div class="img-cover"></div>
          <img
            class="projects__item--img"
            src="./assets/images/scr_walkingcoders.png"
            alt="Captura de pantalla del proyecto The Walking Coders"
          />
        </div>
        <h3 class="projects__item--title">The Walking Coders</h3>
        <p class="projects__item--text">
          Proyecto en grupo <i class="fa-solid fa-people-group text-icon"></i>
        </p>
        <p class="projects__item--text">
          Diseño responsive para tres versiones, realizado con HTML y CSS(SASS).
        </p>
        <nav class="item__nav">
          <a
            class="item__nav--link"
            href="https://github.com/tanferest/the_walking_coders"
            target="_blank"
            ><i class="fa-solid fa-code"></i
          ></a>
          <a
            class="item__nav--link"
            href="https://tanferest.github.io/the_walking_coders/"
            target="_blank"
            ><i class="fa-solid fa-link"></i
          ></a>
        </nav>
      </li>
      <li class="projects__item">
        <div>
          <div class="img-cover"></div>
          <img
            class="projects__item--img"
            src="./assets/images/scr_adacocktail.png"
            alt="Captura de pantalla del proyecto AdaCocktail"
          />
        </div>
        <h3 class="projects__item--title">AdaCocktail</h3>
        <p class="projects__item--text">
          Proyecto individual <i class="fa-solid fa-person text-icon"></i>
        </p>
        <p class="projects__item--text">
          Aplicación web consistente en un buscador de cócteles que nos permite
          marcar y desmarcar bebidas como favoritas. Realizado con HTML, CSS y
          JavaScript. Integración de
          <a
            class="text-link"
            href="https://www.thecocktaildb.com/"
            target="_blank"
            >APIs</a
          >
          de terceros.
        </p>
        <nav class="item__nav">
          <a
            class="item__nav--link"
            href="https://github.com/tanferest/adacocktail"
            target="_blank"
            ><i class="fa-solid fa-code"></i
          ></a>
          <a
            class="item__nav--link"
            href="https://tanferest.github.io/adacocktail/"
            target="_blank"
            ><i class="fa-solid fa-link"></i
          ></a>
        </nav>
      </li>
      <li class="projects__item">
        <div>
          <div class="img-cover"></div>
          <img
            class="projects__item--img"
            src="./assets/images/scr_awesomeprofilecards.png"
            alt="Captura de pantalla del proyecto Awesome Profile Cards"
          />
        </div>
        <h3 class="projects__item--title">Awesome Profile Cards</h3>
        <p class="projects__item--text">
          Proyecto en grupo <i class="fa-solid fa-people-group text-icon"></i>
        </p>
        <p class="projects__item--text">
          Aplicación web para crear, personalizar y compartir tu tarjeta de
          contacto. Realizado con HTML, CSS y JavaScript.
        </p>
        <nav class="item__nav">
          <a
            class="item__nav--link"
            href="https://github.com/tanferest/awesomeprofilecards"
            target="_blank"
            ><i class="fa-solid fa-code"></i
          ></a>
          <a
            class="item__nav--link"
            href="https://tanferest.github.io/awesomeprofilecards/"
            target="_blank"
            ><i class="fa-solid fa-link"></i
          ></a>
        </nav>
      </li>
      <li class="projects__item">
        <div>
          <div class="img-cover"></div>
          <img
            class="projects__item--img"
            src="./assets/images/scr_wowilson.png"
            alt="Captura de pantalla del proyecto WoWilson"
          />
        </div>
        <h3 class="projects__item--title">WoWilson!</h3>
        <p class="projects__item--text">
          Proyecto individual <i class="fa-solid fa-person text-icon"></i>
        </p>
        <p class="projects__item--text">
          Página web que incluye un listado de las escenas de las películas
          donde el actor Owen Wilson ha dicho 'Wow'. Hecho con React y
          <a
            class="text-link"
            href="https://owen-wilson-wow-api.onrender.com/"
            target="_blank"
            >API Wow de Owen Wilson</a
          >.
        </p>
        <nav class="item__nav">
          <a
            class="item__nav--link"
            href="https://github.com/tanferest/WoWilson"
            target="_blank"
            ><i class="fa-solid fa-code"></i
          ></a>
          <a
            class="item__nav--link"
            href="https://tanferest.github.io/WoWilson/"
            target="_blank"
            ><i class="fa-solid fa-link"></i
          ></a>
        </nav>
      </li>
    </ul>
  </section>
  <section class="section resume" id="resume">
    <h2 class="section-title resume-title">CV</h2>
    <div class="resume__option">
      <p class="resume__language">Español</p>
      <a
        class="resume__btn"
        href="./resumes/cv_jrfrontend_taniafdez.pdf"
        target="_blank"
        >Ver</a
      >
      <a
        class="resume__btn"
        href="./resumes/cv_jrfrontend_taniafdez.pdf"
        download="./resumes/cv_jrfrontend_taniafdez.pdf"
        >Descargar</a
      >
    </div>
    <div class="resume__option">
      <p class="resume__language">English</p>
      <a
        class="resume__btn"
        href="./resumes/cv_jrfrontend_taniafdez_eng.pdf"
        target="_blank"
        >View</a
      >
      <a
        class="resume__btn"
        href="./resumes/cv_jrfrontend_taniafdez_eng.pdf"
        download="./resumes/cv_jrfrontend_taniafdez_eng.pdf"
        >Download</a
      >
    </div>
  </section>
</main>
