// $main-color: #1b3b46;
// $second-color: #e2e5ed;
// $background: #ebddd4;
// $light-bg: #51646a;
// $second-bg: rgba(27, 59, 70, 0.3);

$main-color: rgb(57, 54, 70);
$second-color: #e2e5ed;
$background: #F4EEE0;
$light-bg: #6D5D6E;
$second-bg: rgba(57, 54, 70, 0.3);