.header {
  width: 100%;
  height: 8vh;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.825rem;
  &__nav {
    width: 85%;
    z-index: 3;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-evenly;
  }
  &__item {
    &--link {
      color: $second-color;
      text-transform: uppercase;
    }
  }
}
