.main {
  background-color: $background;
  &__text {
    color: $main-color;
    text-align: justify;
  }
}

/* ---- Home ---- */

.home {
  position: relative;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__bg {
    top: 0;
    position: absolute;
    background-color: $second-bg;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    @include tablet {
      width: 450px;
      height:200px;
      border-bottom-left-radius: 200px;
      border-bottom-right-radius: 200px;
    }
  }
  &__title {
    font-family: 'Libre Baskerville', serif;
    color: $main-color;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 5px;
    z-index: 1;
    @include tablet {
      position: relative;
      top: -20%;
    }
    @include desktop {
      top: -10%;
    }
  }
  &__subtitle {
    font-size: 1.5rem;
    color: $second-color;
    font-weight: 300;
    z-index: 1;
    @include tablet {
      position: relative;
      top: -20%;
    }
    @include desktop {
      top: -10%;
    }
  }
  @include tablet {
    margin-bottom: 50px;
  }
  @include desktop {
    height: 250px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6% 65px 6%;
  overflow: hidden;
  &__title {
    width: 40%;
    padding-bottom: 8px;
    color: $main-color;
    text-transform: uppercase;
    font-size: 1.125rem;
    text-align: center;
    border-bottom: 2px solid $main-color;
    margin-bottom: 25px;
    @include tablet {
      margin-bottom: 35px;
    }
  }
  @include tablet {
    padding: 0% 12% 70px 12%;
  }
}

.about-p {
  @include desktop {
    max-width: 75%;
  }
}

/* ---- Projects ---- */

.projects {
  &__list {
    display: grid;
    grid-template-rows: auto;
    @include tablet {
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 20px;
    }
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 5%;
    margin-bottom: 35px;
    background: linear-gradient($background, $second-bg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &--img {
      width: 310px;
      height: 310px;
      border-radius: 50%;
      filter: saturate(0);
      @include tablet {
        width: 200px;
        height: 200px;
      }
    }
    &--title {
      color: $main-color;
      padding-bottom: 5px;
      margin: 25px 0;
      border-bottom: 1px solid $background;
    }
    &--text {
      margin-bottom: 10px;
      color: $main-color;
      max-width: 90%;
    }
    @include tablet {
      padding-top: 10%;
    }
  }
}

.item {
  &__nav {
    margin: 20px 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    &--link {
      color: $background;
      font-size: 1.2rem;
      &:hover {
        color: $main-color;
      }
    }
  }
  &__icon {
    color: $main-color;
    position: relative;
    left: 5px;
    bottom: 1px;
    font-size: 0.8rem;
  }
  &__link {
    color: $background;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* ---- Projects: ACTIVE STATES ---- */

.img-cover {
  position: absolute;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background-color: $second-bg;
  z-index: 1;
  @include tablet {
    width: 200px;
    height: 200px;
  }
}

.projects__item:hover .img-cover {
  background-color: rgba(0, 0, 0, 0);
}

.projects__item:hover .projects__item--img {
  filter: saturate(100%);
}

/* ---- Resume ---- */

.resume {
  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  &__language {
    color: $main-color;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
  &__title {
    @include tablet {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include tablet {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 20% 90px 20%;
  }
  @include desktop {
    justify-content: space-evenly;
  }
}